# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# System files
Thumbs.db          # Windows

# Data
data/Customer Call List.xlsx
